@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content {
    min-width: 75%;
    max-width: 75%;
}

.first {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    min-width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 20px;
}

.splash {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.signup-button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    font-size: 16px;
    padding: 8px 36px;
    border: 0px;
    align-self: flex-start;
}

.textside {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding-right: 50px;
}

.imageside {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8d8996;
    color: #E5E7EB;
    min-width: 500px;
}

.second {
    display: flex;
    min-width: 100vw;
    justify-content: center;
    margin-bottom: 50px;
}

.information {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 25px;
}

.cards-container {
    display: flex;
    gap: 50px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 150px;
    text-align: center;
}

.card-box {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    border: #3882F6 2px solid;
    border-radius: 10px;
}

.third {
    display: flex;
    min-width: 100vw;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 80px 180px;
}

.quote-main {
    font-size: 34px;
    color: #1F2937;
    font-style: italic;
}

.quote-secondary {
    font-size: 28px;
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.fourth {
    display: flex;
    min-width: 100vw;
    justify-content: center;
    margin-bottom: 50px;
}

.action {
    background-color: #3882F6;
    border-radius: 20px;
}